 body {
        font-family: 'Open Sans', sans-serif;
        margin-top: 8%;       
    }

    details {
        margin: 1rem;
    }

    summary {
        font-weight: bold;
        list-style-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/3/right-arrow.svg);
    }

        summary:focus {
            list-style-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/9632/down-arrow.svg);
        }

    #buchliste th {
        cursor: pointer;
    }

    .buchcover {
        border: 1px solid #ddd !important; /* Gray border */
        border-radius: 4px !important; /* Rounded border */
        padding: 5px !important; /* Some padding */
        width: 120px !important; /* Set a small width */
    }

    tr:hover {
        cursor: help;
    }


    ul {
        list-style-image: url('/Images/Icons/autor_icon.jpg');
    }

    .shadow-md {
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.12), 0 2px 4px 0 rgba(0,0,0,0.08);
    }

    .details {
        border: 2px solid #ccc;
        padding: 1em;
        max-width: 800px;
        max-height: 100%;
    }

    .nav-tabs {
        border-bottom: 0px;
    }

    .nav-tabContent {
        margin-top: 0;
    }

    .pull-right {
        margin-top: 0;
    }



 
