﻿@model Buchverleih.Models.StatistikVMListen
@{
    ViewBag.Title = "Home Page";
}
@ViewBag.Test


@Styles.Render("~/Content/plugins")
@Scripts.Render("~/bundles/plugins")

@Scripts.Render("~/bundles/bootstrap")

<!-- TODO - Pfeile der Slider austauschen -->
<!-- TODO - Blauen Rahmen entfernen -->
<!-- TODO - Banner anpassen -->

<head>
    <script>
        window.onload = function () {
            $('.slick-slider').slick({
                autoplay: true,
                autoplaySpeed: 5000,
                arrows: true,
                prevArrow: '<button type="button" class="slick-prev"></button>',
                nextArrow: '<button type="button" class="slick-next"></button>',
                centerMode: false,
                slidesToShow: 5,
                slidesToScroll: 1
            });
        };
    </script>
    <style>
   
    </style>
</head>


<div class="kopfbereich">
    <img src="~/Images/banners/mainBanner.jpg" class="img-fluid" />
</div>

    <!-- ========================================== TOP NEUERSCHEINUNGEN  ========================================= -->
    <h4 class="title-text">Unsere Neuerscheinungen</h4>

    <div class="slick-slider" data-slick='{"slidesToShow": 5, "slidesToScroll": 1}'>

        @foreach (var statistik in Model.TopNeu)
        {
            <div class="item-slide p-2">
                <figure class="card card-product">

                    <div class="img-wrap" onclick="location.href = '@(Url.Action("Detail", "Buch", new { buchId = statistik.BuchId }))'"> <img src="@statistik.Bildpfad"> </div>

                    <figcaption class="info-wrap text-center">
                        <h6 class="title text-truncate">
                            @Html.ActionLink(statistik.Titel.ToString(), "Detail", "Buch", new { buchId = statistik.BuchId }, null)
                        </h6>

                    </figcaption>
                </figure>
            </div>
        }

    </div>


    <!-- ========================================== TOP BELIEBTESTE  ========================================= -->

    <h4 class="title-text">Unsere Beliebtesten Bücher</h4>

    <div class="slick-slider" data-slick='{"slidesToShow": 5, "slidesToScroll": 1}'>

        @foreach (var statistik in Model.TopVerleih)
        {
            <div class="item-slide p-2">
                <figure class="card card-product">

                    <div class="img-wrap" onclick="location.href = '@(Url.Action("Detail", "Buch", new { buchId = statistik.BuchId }))'"> <img src="@statistik.Bildpfad"> </div>

                    <figcaption class="info-wrap text-center">
                        <h6 class="title text-truncate">
                            @Html.ActionLink(statistik.Titel.ToString(), "Detail", "Buch", new { buchId = statistik.BuchId }, null)
                        </h6>

                    </figcaption>
                </figure>
            </div>
        }
    </div>

    <!-- ========================================== TOP PREIS  ========================================= -->

    <h4 class="title-text">Unsere Preisknüller</h4>

    <div class="slick-slider" data-slick='{"slidesToShow": 5, "slidesToScroll": 1}'>

        @foreach (var statistik in Model.TopPreis)
        {
            <div class="item-slide p-2">
                <figure class="card card-product">

                    <div class="img-wrap" onclick="location.href = '@(Url.Action("Detail", "Buch", new { buchId = statistik.BuchId }))'"> <img src="@statistik.Bildpfad"> </div>

                    <figcaption class="info-wrap text-center">
                        <h6 class="title text-truncate">
                            @Html.ActionLink(statistik.Titel.ToString(), "Detail", "Buch", new { buchId = statistik.BuchId }, null)
                        </h6>

                    </figcaption>
                </figure>
            </div>
        }
    </div>
