﻿@model IEnumerable<Buchverleih.Models.BuchVM>

@{
    ViewBag.Title = "Buch - Übersicht";
}

<!--======================================== Bootstrap4 files ======================================== -->
@Styles.Render("~/Content/bootstrap")
@Scripts.Render("~/bundles/bootstrap")

<!--======================================== Custom Files ======================================== -->
@Scripts.Render("~/bundles/custom")
@Styles.Render("~/Content/custom")

<!-- TODO - Buttons/Links anpassen-->
<!-- TODO - Eventlistener für Filter mittels RouteValue -->
<!-- WICHTIG - Warenkorb Symbol anpassen -->
<!-- WICHTIG - Spaltenbreite anpassen -->
<!-- WICHTIG - Bestellbutton disabled if Verfügbar == 0 -->

<style>
    body {
        margin-top: 7%;
    }
    
    .zoom {
        padding: 50px;
        transition: transform .2s; /* Animation */
        margin: 0 auto;
    }

        .zoom:hover {
            transition: all 0.8s ease-in-out;
            position: absolute;
            z-index: 99;
            transform: scale(2.2); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
        }
       
</style>

<script>
    window.onload = function () {
        if (document.getElementById("anzahl") == 0) {
            document.getElementsByClassName("btn-success").attr("class", "disabled")
        }
    }
</script>

<fieldset>
    <legend>Buch - Übersicht</legend>
    <br />
    <div class="row">
        <div class="col-sm-2">

            <input class="form-control" type="text" id="katInput" onkeyup="filterResult()" placeholder="Kategorie" value="@TempData["Filter"]" />
        </div>
        <div class="col-sm-2">

            <input class="form-control" type="text" id="titelInput" onkeyup="filterResult()" placeholder="Titel" />
        </div>
        <div class="col-sm-2">

            <input class="form-control" type="text" id="autorInput" onkeyup="filterResult()" placeholder="Autor" />
        </div>
        <div class="col-sm-2">

            <input class="form-control" type="text" id="isbnInput" onkeyup="filterResult()" placeholder="ISBN" />
        </div>
        <div class="col-sm-2">

            <input class="form-control" type="text" id="buchBeschreibungInput" onkeyup="filterResult()" placeholder="Buchbeschreibung" />
        </div>
        <div class="col-sm-2 ">
            <label>Verfügbar</label>
            <input class="checkbox-inline " type="checkbox" id="verfügbarInput" onchange="onCheckBoxChange()" />
        </div>

    </div>
    <br />
    <br />

    <table class="table table-hover table-responsive" id="buchliste">
        <thead>
            <tr >
                <th class="sorting_asc_disabled sorting_desc_disabled"></th>

                <th>
                    @Html.DisplayName("Kategorie")
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Titel)
                </th>
                <th>
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ISBN)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.BuchBeschreibung)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Ausgabe)
                </th>
                <th>
                    @Html.DisplayName("Preis")
                </th>
                <th>
                    @Html.DisplayName("Anzahl")
                </th>
                <th></th>
            </tr>
        </thead>

        <tbody>
            @foreach (var item in Model)
            {
                <tr onclick="location.href = '@(Url.Action("Detail", "Buch", new { buchId = item.BuchId }))'">
                    <td>
                        <img class="buchcover zoom" src=@item.Bildpfad alt=@item.BildAltText ) />
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.KatBezeichnung)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Titel)
                    </td>
                    <td>
                        <i class="fa fa-2x fa-users " aria-hidden="true" data-toggle="tooltip" data-placement="bottom" title=" @Html.DisplayFor(modelItem => item.Autoren)"></i>

                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ISBN)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.BuchBeschreibung)
                    </td>
                    <td class="text-center">
                        @Html.DisplayFor(modelItem => item.Ausgabe)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.PreisProTagBrutto)
                    </td>
                    <td class="text-center" id="anzahl">
                        @if (item.Verfügbarkeit > 0)
                        {
                            @Html.DisplayFor(modelItem => item.Verfügbarkeit)
                        }
                        else
                        {
                            @Html.LabelFor(modelItem => item.VerfügbarAb)
                            @Html.DisplayFor(modelItem => item.VerfügbarAb)
                        }
                    </td>

                    <td>
                        @if (item.Verfügbarkeit > 0)
                        {
                            <a href="/Warenkorb/Hinzu?buchId = @item.BuchId" class="btn btn-success glyphicon glyphicon-shopping-cart"></a>
                        }
                    </td>
                </tr>
            }
        </tbody>

    </table>
</fieldset>