﻿@model Buchverleih.Models.BuchDetailVM

@{
    ViewBag.Title = "Detail";
}




<!-- TODO - Verleihhäufigkeit als farbige Range -->
<!-- TODO - Link anpassen wenn die Buchliste fertig ists-->
<!-- TODO - MODAL als Buchdetail -->

<head>
    <!-- ================================================== Skripte ================================================== -->
    @Scripts.Render("~/bundles/Scripts/jquery")

    <!-- ================================================== Bootstrap4 files ================================================== -->
    @Styles.Render("~/Content/bootstrap")
    @Scripts.Render("~/bundles/bootstrap")

    <!-- ================================================== Plugin files ================================================== -->
    @Styles.Render("~/Content/plugins")
    @Scripts.Render("~/bundles/plugins")

    <style>
        body {
            margin-top: 7%;
        }

        #detailBild {
            width: 100%;
        }
    </style>
    <script>
        window.addEventListener('DOMContentLoaded', function () {
            var myDatepickerVon = document.querySelector('input[name="datepickerVon"]');
            var myDatepickerBis = document.querySelector('input[name="datepickerBis"]');

            myDatepickerVon.DatePickerX.init({
                //Optionen
                mondayFirst: true,
                format: 'dd/mm/yyyy',
                minDate: new Date(0, 0),
                maxDate: new Date(9999, 11, 31),
                weekDayLabels: ['Mo', 'Di', 'Mi', 'Do', 'Fr', 'Sa', 'So'],
                shortMonthLabels: ['Jan', 'Feb', 'Mar', 'Apr', 'Mai', 'Jun', 'Jul', 'Aug', 'Sep', 'Okt', 'Nov', 'Dez'],
                singleMonthLabels: ['Januar', 'Februar', 'März', 'April', 'Mai', 'Juni', 'Juli', 'August', 'September', 'Oktober', 'November', 'Dezember'],
                todayButton: true,
                todayButtonLabel: 'Heute',
                clearButton: true,
                clearButtonLabel: 'Zurücksetzen'
            });
            myDatepickerBis.DatePickerX.init({
                //Optionen
                mondayFirst: true,
                format: 'dd/mm/yyyy',
                minDate: new Date(0, 0),
                maxDate: new Date(9999, 11, 31),
                weekDayLabels: ['Mo', 'Di', 'Mi', 'Do', 'Fr', 'Sa', 'So'],
                shortMonthLabels: ['Jan', 'Feb', 'Mar', 'Apr', 'Mai', 'Jun', 'Jul', 'Aug', 'Sep', 'Okt', 'Nov', 'Dez'],
                singleMonthLabels: ['Januar', 'Februar', 'März', 'April', 'Mai', 'Juni', 'Juli', 'August', 'September', 'Oktober', 'November', 'Dezember'],
                todayButton: true,
                todayButtonLabel: 'Heute',
                clearButton: true,
                clearButtonLabel: 'Zurücksetzen'
            });
        });

    </script>

</head>


<!-- ================================================== Hauptcontent ================================================== -->
<section class="section-content bg padding-y-sm">
    <div class="container">

        <nav class="mb-3">
            <h3 class="title mb-3">@Model.Titel</h3>
        </nav>

        <div class="row">
            <div class="col-xl-10 col-md-9 col-sm-12">
                <main class="card">
                    <div class="row no-gutters">
                        <!-- ================================================== Bild ================================================== -->
                        <aside class="col-sm-6 border-right">
                            <div class="img-big-wrap">
                                <img id="detailBild" src="/Images/Buecher/9783898645744.jpg">
                            </div>
                        </aside>
                        <aside class="col-sm-6">
                            <article class="card-body">
                                <!-- ================================================== Details ================================================== -->

                                <dl class="row">
                                    <dt class="col-sm-4">
                                        @Html.DisplayNameFor(model => model.ISBN)
                                    </dt>
                                    <dd class="col-sm-8">
                                        @Html.DisplayFor(model => model.ISBN)
                                    </dd>

                                    <dt class="col-sm-4">
                                        @Html.DisplayName("Kategorie")
                                    </dt>

                                    <dd class="col-sm-8">
                                        @Html.DisplayFor(model => model.KatBezeichnung)
                                    </dd>

                                    <dt class="col-sm-4">
                                        @Html.DisplayName("Verlag")
                                    </dt>

                                    <dd class="col-sm-8">
                                        @Html.DisplayFor(model => model.VerlagBezeichnung)
                                    </dd>

                                    <dt class="col-sm-4">
                                        @Html.DisplayNameFor(model => model.Ausgabe)
                                    </dt>

                                    <dd class="col-sm-8">
                                        @Html.DisplayFor(model => model.Ausgabe)
                                    </dd>

                                    <dt class="col-sm-4">
                                        @Html.DisplayName("Erschienen")
                                    </dt>

                                    <dd class="col-sm-8">
                                        @Html.DisplayFor(model => model.Erscheinungsjahr)
                                    </dd>

                                    <dt class="col-sm-4">
                                        @if (Model.Verfügbarkeit > 0)
                                        {
                                            @Html.DisplayName("Anzahl")
                                        }

                                        else
                                        {
                                            @Html.Label("Verfügbar ab: ")
                                        }
                                    </dt>
                                    <dd class="col-sm-8">
                                        @if (Model.Verfügbarkeit > 0)
                                        {
                                            @Html.DisplayFor(model => model.Verfügbarkeit)
                                        }
                                        else
                                        {
                                            @Html.DisplayFor(model => model.VerfügbarAb)
                                        }
                                    </dd>
                                </dl>

                                <!-- ================================================== Bewertung ================================================== -->
                                <div class="rating-wrap">

                                    <ul class="rating-stars">
                                        <li style="width:80%" class="stars-active">
                                            <i class="fa fa-star"></i> <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i> <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                        </li>
                                        <li>
                                            <i class="fa fa-star"></i> <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i> <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                        </li>
                                    </ul>
                                    <!-- ================================================== Verleih - Häufigkeit ================================================== -->
                                    <div class="label-rating">132 Rezensionen</div>
                                    <div class="label-rating">@Html.DisplayFor(model => model.VerleihHäufigkeit) mal bestellt</div>
                                </div> <!-- rating-wrap.// -->
                                <hr>
                                <!-- ================================================== Bestellung ================================================== -->
                                <div class="row">
                                    <dl class="dlist-inline">
                                        <dt class="col-sm-6">
                                            @Html.DisplayName("Preis pro Tag")
                                        </dt>
                                        <dd class=" col-sm-3">

                                            @Html.DisplayFor(model => model.PreisProTagBrutto)

                                        </dd>
                                        <dd class="col-sm-5" style="margin: 2px;">
                                            @if (Model.Verfügbarkeit > 0)
        {
                                    <select class="form-control form-control-sm" style="width:100%;">
                                        <option selected disabled>Anzahl</option>
                                        @for (int i = 1; i <= Model.Verfügbarkeit; i++)
    {
                                    <option value="i">@i</option>
}
                                    </select>
}
                                        </dd>
                                        <!-- ======================================== OPTIONALE DATEPICKER ======================================== -->
                                        @*<dt class="col-sm-12" style="margin: 2px;">  <input type="text" name="datepickerVon" placeholder="Verleih von"></dt>
                                        <dt class="col-sm-6" style="margin: 2px;"> <input type="text" name="datepickerBis" placeholder="Verleih bis"></dt>*@
                                    </dl>
                                </div>

                                <hr>

                                <a href="#" class="btn  btn-outline-warning">In den Warenkorb </a>

                            </article>
                        </aside>
                    </div>
                </main>
                <!-- ================================================== Buchbeschreibung ================================================== -->
                <article class="card mt-3">
                    <div class="card-body">
                        <h4>@Html.DisplayName("Beschreibung")</h4>
                        <p>
                            @Html.DisplayFor(model => model.BuchBeschreibung)
                        </p>
                        <p>
                            @Html.DisplayFor(model => model.BuchBeschreibung)
                        </p>
                        <p>
                            @Html.DisplayFor(model => model.BuchBeschreibung)
                        </p>
                        <p>
                            @Html.DisplayFor(model => model.BuchBeschreibung)
                        </p>
                    </div> <!-- card-body.// -->
                </article> <!-- card.// -->
                <!-- PRODUCT DETAIL .// -->

            </div> <!-- col // -->
            <aside class="col-xl-2 col-md-3 col-sm-12">
                <div class="card">
                    <div class="card-header">
                        @Html.DisplayNameFor(model => model.Autoren)
                    </div>
                    <div class="card-body small">
                        @foreach (var item in Model.Autoren)
                        {
                            <span>@item</span>
                            <hr />
                        }

                        <a href="">Visit pofile</a>

                    </div> <!-- card-body.// -->
                </div> <!-- card.// -->


                <div class="card mt-3">
                    <div class="card-header">
                        You may like
                    </div>
                    <div class="card-body row">
                        <div class="col-md-12 col-sm-3">
                            <figure class="item border-bottom mb-3">
                                <a href="#" class="img-wrap"> <img src="images/items/2.jpg" class="img-md"></a>
                                <figcaption class="info-wrap">
                                    <a href="#" class="title">The name of product</a>
                                    <div class="price-wrap mb-3">
                                        <span class="price-new">$280</span> <del class="price-old">$280</del>
                                    </div> <!-- price-wrap.// -->
                                </figcaption>
                            </figure> <!-- card-product // -->
                        </div> <!-- col.// -->
                        <div class="col-md-12 col-sm-3">
                            <figure class="item border-bottom mb-3">
                                <a class="img-wrap"> <img src="images/items/3.jpg" class="img-md"></a>
                                <figcaption class="info-wrap">
                                    <a href="#" href="#" class="title">The name of product</a>
                                    <div class="price-wrap mb-3">
                                        <span class="price-new">$280</span>
                                    </div> <!-- price-wrap.// -->
                                </figcaption>
                            </figure> <!-- card-product // -->
                        </div> <!-- col.// -->
                        <div class="col-md-12 col-sm-3">
                            <figure class="item border-bottom mb-3">
                                <a href="#" class="img-wrap"> <img src="images/items/4.jpg" class="img-md"></a>
                                <figcaption class="info-wrap">
                                    <a href="#" class="title">The name of product</a>
                                    <div class="price-wrap mb-3">
                                        <span class="price-new">$280</span>
                                    </div> <!-- price-wrap.// -->
                                </figcaption>
                            </figure> <!-- card-product // -->
                        </div> <!-- col.// -->
                    </div> <!-- card-body.// -->
                </div> <!-- card.// -->
            </aside> <!-- col // -->
        </div> <!-- row.// -->



    </div><!-- container // -->
</section>
<!-- ========================= SECTION CONTENT .END// ========================= -->