﻿@model Buchverleih.Models.BuchDetailVM

@{
    ViewBag.Title = "Detail";
}



<!-- WICHTIG - TABS funktionieren nicht-->
<!-- TODO - Verleihhäufigkeit als farbige Range -->
<!-- TODO - Link anpassen wenn die Buchliste fertig ists-->
<!-- WICHTIG - Tabs für Details bauen -->
<!-- TODO - Buchtitel als Header auslagern -->
<!-- TODO - MODAL als Buchdetail -->

<head>
    <!--======================================== Skripte ======================================== -->
    @Scripts.Render("~/bundles/Scripts/jquery")

    <!--======================================== Bootstrap4 files ======================================== -->
    @Styles.Render("~/Content/bootstrap")
    @Scripts.Render("~/bundles/bootstrap")

   
</head>


<style>
    body {
        padding-top: 7%;
    }
    /*.nav-tabContent {
        margin-top: 50px;
    }*/

    .details {
        border: 2px solid #ccc;
        padding: 1em;
        max-width: 800px;
        max-height: 100%;
    }

</style>


<div class="container">
    <h3>@Html.DisplayFor(model => model.Titel)</h3>


    <div class="tab-content" id="nav-tabContent">
        <div class="col-md-4 pull-left">
            <img id="buch" class="pull-right img-responsive" src=@Html.DisplayFor(model => model.Bildpfad) alt=@Html.DisplayFor(model => model.BildAltText) />
        </div>
        <hr />
        <nav>

            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Details</a>
                <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">Weiteres</a>
                <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false">Vorschau</a>
            </div>
        </nav>
        <div class="tab-pane active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
            <div class="col-lg-6 details">
                <dl class="dl-horizontal">

                    <dt>
                        @Html.DisplayNameFor(model => model.ISBN)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.ISBN)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.KatBezeichnung)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.KatBezeichnung)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.VerlagBezeichnung)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.VerlagBezeichnung)
                    </dd>


                    <dt>
                        @Html.DisplayNameFor(model => model.Ausgabe)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Ausgabe)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Erscheinungsjahr)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Erscheinungsjahr)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Anzahl)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Anzahl)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.PreisProTagBrutto)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.PreisProTagBrutto)
                    </dd>
                    <dt>
                        @if (Model.Verfügbarkeit > 0)
                        {
                            @Html.DisplayNameFor(model => model.Verfügbarkeit)
                        }

                        else
                        {
                            @Html.Label("Verfügbar ab: ")
                        }

                    </dt>

                    <dd>
                        @if (Model.Verfügbarkeit > 0)
                        {
                            @Html.DisplayFor(model => model.Verfügbarkeit)
                        }
                        else
                        {
                            @Html.DisplayFor(model => model.VerfügbarAb)
                        }
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.VerleihHäufigkeit)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.VerleihHäufigkeit)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Autoren)
                    </dt>

                    @foreach (var item in Model.Autoren)
                    {
                        <dd>
                            <ul>
                                <li> @item</li>
                            </ul>
                        </dd>
                    }
                </dl>

                <hr />
                <dl class="dl-horizontal">
                    <dd>
                        <dl class="pull-right">
                            <dt>
                                @Html.LabelFor(model => model.Verfügbarkeit)
                            </dt>
                            <dd>

                                @if (Model.Verfügbarkeit > 0)
                                {
                                    <select>
                                        @for (int i = 1; i <= Model.Verfügbarkeit; i++)
                                        {
                                            <option value="i">@i</option>
                                        }
                                    </select>
                                }
                            </dd>
                            <dt>
                                @Html.Label("Verleih - Beginn")
                            </dt>
                            <dd>

                            </dd>
                            <dt>
                                @Html.Label("Verleih - Ende")
                            </dt>
                            <dd>

                            </dd>
                        </dl>
                    </dd>

                    <dd>
                        <div class="pull-right">
                            <input type="button" value="In den Warenkorb" />
                        </div>
                    </dd>
                </dl>
            </div>
        </div>
        <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
            <div class="col-lg-6 details">
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.BuchBeschreibung)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.BuchBeschreibung)
                    </dd>

                </dl>
            </div>
        </div>
        <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
            <div class="col-lg-6 details">
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayName("Vorschau")
                    </dt>
                    <dd>
                        "PDF-Generierung als Vorschau folgt noch"
                    </dd>
                </dl>
            </div>
        </div>
    </div>
    <div class="col-lg-10">
        <hr />
        @Html.ActionLink("Zurück zur Übersicht", "Liste")
    </div>
</div>
