﻿<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PS Books - Freude am Lesen</title>

    <!--======================================== Bootstrap4 files ======================================== -->
    @Styles.Render("~/Content/bootstrap")
    @Scripts.Render("~/bundles/bootstrap")

    <!--======================================== Footer ======================================== -->
    @Styles.Render("~/Content/footer")

    <!--======================================== Skripte ======================================== -->
    @Scripts.Render("~/bundles/Scripts/jquery")   
   
    @RenderSection("scripts", required: false)    

    <!--======================================== Footer ======================================== -->
    @Styles.Render("http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css")


    <script type="text/javascript">

        $(document).ready(function () {
        });

    </script>
    <style>
        body {
            padding-top: 10%;
            padding-bottom: 5%;
        }

        .logo {
            max-height: 70px !important;
        }

        .form-control {
            max-width: 400px !important;
        }

        .container-full {
            margin: 0 auto;
            width: 95%;
        }

        .navbar-fixed-top {
            background-color: white;
        }

        .navbar-fixed-bottom {
            background-color: white;
            border-top: 1px solid black;
        }

        .pull-right {
            margin-top: 10px;
        }

        .header-main {
            padding-top: 0.5rem;
        }
    </style>

</head>
<!-- WICHTIG - Reiter Bücher => Detailsuche anpassen-->
<!-- TODO - Stylings kontrollieren -->
<!-- WÍCHTIG - Logout Button durch SichtbarkeitsDropdown ersetzen-->
<!-- TODO - Struktur ordnen & umbenennen -->
<!-- TODO - Platzhalter für Bilder bauen -->
<!-- WICHTIG - Schärfe des Logins Korrigieren -->
<!-- TODO - Funktion angemeldet bleiben -->
<!-- TODO - PDF-Make implementieren -->

<body>
    <div class="navbar-fixed-top">
        <header class="section-header ">
            <section class="header-main">
                <div class="container-full">
                    <div class="row align-items-center">
                        <div class="col-lg-3">
                            <!-- ======================================== Logobereich ======================================== -->
                            <div class="brand-wrap">
                                <img class="logo" src="../images/logo-head.png">
                            </div>
                        </div>
                        @Html.Partial("_NavbarAccountLogic")
                    </div>
                </div>
            </section>
            <!-- ======================================== Navigations - Leiste ======================================== -->
            <nav class="navbar navbar-expand-lg navbar-dark bg-secondary ">
                <div class="container-full">

                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main_nav" aria-controls="main_nav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="main_nav">
                        <ul class="navbar-nav">
                            <li class="nav-item">@Html.ActionLink("Home", "Index", "Home", null, new { @class = "nav-link" })</li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="http://example.com" id="dropdown07" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Bücher</a>
                                <div class="dropdown-menu" aria-labelledby="dropdown07">
                                    @Html.ActionLink("Detailsuche", "Buchliste", "Buch", null, new { @class = "dropdown-item" })
                                    <div class="dropdown-divider"></div>
                                    @Html.ActionLink("Analytik", "Katliste", "Buch", new { x = "Analytik" }, new { @class = "dropdown-item" })
                                    @Html.ActionLink("Hardware", "Katliste", "Buch", new { x = "Hardware" }, new { @class = "dropdown-item" })
                                    @Html.ActionLink("Netzwerktechnik", "Katliste", "Buch", new { x = "Netzwerktechnik" }, new { @class = "dropdown-item" })
                                    @Html.ActionLink("Server", "Katliste", "Buch", new { x = "Server" }, new { @class = "dropdown-item" })
                                    @Html.ActionLink("Security", "Katliste", "Buch", new { x = "Security" }, new { @class = "dropdown-item" })
                                    @Html.ActionLink("Software", "Katliste", "Buch", new { x = "Software" }, new { @class = "dropdown-item" })
                                    @Html.ActionLink("Projektmanagement", "Katliste", "Buch", new { x = "Projektmanagement" }, new { @class = "dropdown-item" })
                                    @Html.ActionLink("Web - Programmierung", "Katliste", "Buch", new { x = "WebProgrammierung" }, new { @class = "dropdown-item" })

                                </div>
                            </li>

                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="http://example.com" id="dropdown07" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Unternehmen</a>
                                <div class="dropdown-menu" aria-labelledby="dropdown07">
                                    @Html.ActionLink("Über uns", "Info", "Home", null, new { @class = "dropdown-item" })
                                    @Html.ActionLink("Philosophie", "Info2", "Home", null, new { @class = "dropdown-item" })
                                    <div class="dropdown-divider"></div>
                                    @Html.ActionLink("Standort", "Info3", "Home", null, new { @class = "dropdown-item" })
                                    @Html.ActionLink("Öffnungszeiten", "Info4", "Home", null, new { @class = "dropdown-item" })
                                    @Html.ActionLink("Kontakt", "Kontakt", "Home", null, new { @class = "dropdown-item" })

                                </div>
                            </li>
                        </ul>
                        <!-- ======================================== Suchbereich ======================================== -->
                        <input type="text" class="form-control" placeholder="Suche">
                    </div>
                  
                </div>
            </nav>
        </header>
    </div>
    <div class="row centered-form container-full">
        <div class="container col-lg-10">

            @RenderBody()

        </div>
    </div>
    <!-- ========================================Footer ======================================== -->
    <footer class="footer-distributed">

        <div class="footer-right">
            <a href="#"><i class="fa fa-facebook"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-linkedin"></i></a>
            <a href="#"><i class="fa fa-github"></i></a>
        </div>

        <div class="footer-left">
            <p class="footer-company">
                Made with Bootstrap E-Commerce<a href="http://bootstrap-ecommerce.com"> UI kit </a><br />by Vosidiy M.
            </p>

        </div>
    </footer>
</body>
</html>
