﻿<!--
        Wenn eingeloggt zeige Logout Link & Warenkorb
        Wenn ausgeloggt zeige Login & Registrieren
-->
<!-- WICHTIG - Logout BEREICH bauen -->
<!-- WICHTIG - Validation-PW-Error bauen -->
<style>
    button {
        margin: 0;
        padding: 0;
        border: 1px solid;
        float: none;
    }
    .btn-register {
        margin-left: 8%;
    }
    .field-icon {
        float: right;
        margin-left: -25px;
        margin-top: -25px;
        margin-right: 10px;
        position: relative;
        z-index: 2;
    }

    .container {
        padding-top: 50px;
        margin: auto;
    }
</style>
<script>
    function showPassword() {
        var x = document.getElementById("passwort");
        if (x.type === "password") {
            x.type = "text";
        } else {
            x.type = "password";
        }
    }

</script>

@if (User.Identity.IsAuthenticated)
{
    <!-- # # # # # # # # # # # # # # # # # # # # Warenkorb # # # # # # # # # # # # # # # # # # # # -->
    <div class="col-lg-8 col-sm-6">
        <div class="widgets-wrap d-flex justify-content-end">
            <div class="widget-header">
                <a href="#" class="icontext">
                    <div class="icon-wrap icon-xs bg2 round text-secondary"><i class="fa fa-shopping-cart"></i></div>
                    <div class="text-wrap">
                        <h6>Warenkorb</h6>
                        <span>3 Bücher</span>
                    </div>
                </a>
            </div>
            <!-- # # # # # # # # # # # # # # # # # # # # Logout - Bereich # # # # # # # # # # # # # # # # # # # # -->
            <div class="widget-header">
                <a href="#" class="icontext" >
                    <div class="icon-wrap icon-xs bg2 round text-secondary"><i class="fa fa-user"></i></div>
                    <div class="text-wrap">                        
                        @Html.ActionLink("Logout", "Logout", "User", null, new { @class = "nav-item" })
                    </div>
                </a>                
            </div>
        </div>
    </div>
}
else
{
    <div class="col-lg-9 col-sm-6">
        <div class="widgets-wrap d-flex justify-content-end">
            <!-- # # # # # # # # # # # # # # # # # # # # Login - Bereich # # # # # # # # # # # # # # # # # # # # -->
            <div class="widget-header dropdown">
                <a href="#" class="ml-3 icontext" data-toggle="dropdown" data-offset="20,10">
                    <div class="icon-wrap icon-xs bg2 round text-secondary"><i class="fa fa-user"></i></div>
                    <div class="text-wrap">
                        <h6>Willkommen</h6>
                        <span>Login <i class="fa fa-caret-down"></i></span>
                    </div>
                </a>
                <!-- # # # # # # # # # # # # # # # # # # # # Login - Bereich - DropDown # # # # # # # # # # # # # # # # # # # # -->
                <div class="dropdown-menu dropdown-menu-right">

                    @using (Html.BeginForm("Login", "User", FormMethod.Post, htmlAttributes: new { @class = "px-4 py-3" }))
                    {
                        /*  AntiForgeryTokern       Generiert ein ausgeblendetes Formularfeld (Antifälschungstoken), das beim Senden des Formulars überprüft wird.
                        *  ValidationSummary       Gibt eine Liste an Validierungsmeldungen zurück
                        *  ValidationMessageFor    Gibt die passende Validierungsmeldung für das entsprechende Feld aus
                        *  LabelFor                Generiert eine Beschreibung für das darunter liegende Formularfeld
                        *  EditorFor               Generiert ein Formularfeld für das entsprechende Feld im ViewModel
                        */
                        @Html.AntiForgeryToken()

                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-group">

                            @Html.Label("Email")
                            @Html.Editor("Email", new { htmlAttributes = new { @class = "form-control", @placeholder = "Email" } })
                            @*@Html.ValidationMessage("Email", "", new { @class = "text-danger" })*@
                        </div>

                        <div class="form-group">
                            @Html.Label("Passwort")
                            @Html.Editor("Passwort", new { htmlAttributes = new { @id = "passwort", @class = "form-control", @placeholder = "Passwort", @type = "password", @name = "passwort" } })
                            <span toggle="#password-field" class="fa fa-fw fa-eye field-icon " onclick="showPassword()"></span>
                            @Html.ValidationMessage("Passwort", "", new { @class = "text-danger" })

                        </div>
                        <div class="button-group">
                            <button type="submit" class="btn btn-primary btn-sm ">Einloggen</button>                            
                            <a class="btn btn-secondary btn-sm" href="#">Passwort vergessen?</a>
                        </div>
                    }
                    <hr class="dropdown-divider">
                    @Html.ActionLink("Registrieren", "Registrieren", "User", null, htmlAttributes: new { @class = "btn btn-primary btn-sm btn-register" })
                   
                </div>
            </div>
        </div>
    </div>
}


@*<li class="nav-item">@Html.ActionLink("Login", "Login", "User", null, new { @class = "nav-link" })</li>*@
