﻿@model Buchverleih.Models.LoginVM

@{
    ViewBag.Title = "Login";
}

<!--======================================== Bootstrap4 files ======================================== -->
@Styles.Render("~/Content/bootstrap")
@Scripts.Render("~/bundles/bootstrap")



<!-- TODO - Button zum PW vergessen anpassen -->


@using (Html.BeginForm("Login", "User", FormMethod.Post))
{
    /*  AntiForgeryTokern       Generiert ein ausgeblendetes Formularfeld (Antifälschungstoken), das beim Senden des Formulars überprüft wird.
     *  ValidationSummary       Gibt eine Liste an Validierungsmeldungen zurück
     *  ValidationMessageFor    Gibt die passende Validierungsmeldung für das entsprechende Feld aus
     *  LabelFor                Generiert eine Beschreibung für das darunter liegende Formularfeld
     *  EditorFor               Generiert ein Formularfeld für das entsprechende Feld im ViewModel
     */
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Passwort, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Passwort, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Passwort, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Einloggen" class="btn btn-default" />
                <button class="btn btn-default">@Html.ActionLink("Zur Registrierung", "Registrieren", "User", new { @style = "text-decoration: none; color: black;" })</button>
                <button class="btn btn-default">Passwort vergessen<!--Html.ActionLink("Passwort vergessen", "", "", new { style = "text-decoration: none; color: black;" })--></button>
            </div>
        </div>

    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
